{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    5TIGER|登录
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">

{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">登录</h3>
                      </div>
                      <div class="panel-body">
                          <form  action="{% url 'login' %}" method="post">
                              {% csrf_token %}
                             {#   可以直接写成这样，简单罗列各个字段{{ login_form }} #}
                              {% for field in login_form %}
                                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                  {{ field }}
                                  <p class="text-danger">{{ field.errors.as_text }}</p>
                              {% endfor %}
                              <span class="text-danger">{{ login_form.non_field_errors }}</span>
                              <div class="clearfix"></div>
                              <button type="submit" class="btn btn-primary pull-right" >登录</button>
                              <a href="{% url 'forgot_password' %}">忘记密码</a>
                          </form>
                      </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}